
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <title>About This Data</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/theme.css" rel="stylesheet">
  </head>

  <body role="document">

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li  class="active"><a href="/about">About This Data Set</a></li>
            <li><a href="/quality">Data Quality</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container theme-showcase" role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
	<h1>Accountability: About This Data Set</h1>
        <p>This dataset contains my activity & phone location data between 1/30/17 and 2/22/17. There are two relevant tables for this Byte:

<li><tt>locations_visit</tt>: The table that contains locations I have visited. It includes columns that represent the timestamp, address based on my location, and reported accuracy of each measurement.</li>
<li><tt>locations</tt>:The table that contains location data. It includes columns that represent the timestamp, 
geographical coordinates, accuracy, bearing, and speed of each measurement.</li>
</a></p>
      </div>

    
      <div class="page-header">
	<h2>Where did this data come from?</h2>
	<p>This data was collected using <a href="http://www.awareframework.com/">AWARE</a>, which is an Android framework dedicated to instrument, infer, log and 
	share mobile context information, for application developers, researchers and smartphone users. 
	AWARE captures hardware-, software-, and human-based data. 
	The data is then analyzed using AWARE plugins, to help transform data into information you can understand.</p> 
      </div>
      
      <div class="page-header">
	<h2>Who has access to it?</h2>
	<p>Data collected for this Byte is not publically accessbile, however, 
	if you are interested in collecting your own data using this framework you can do so <a href="http://www.awareframework.com/open/">here</a>. </p>
      </div>


    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/docs.min.js"></script>
  </body>
</html>
